<h1>Editing payment state</h1>

<%= render "form", payment_state: @payment_state %>

<br>

<div>
  <%= link_to "Show this payment state", @payment_state %> |
  <%= link_to "Back to payment states", payment_states_path %>
</div>
