<h1>Editing order state</h1>

<%= render "form", order_state: @order_state %>

<br>

<div>
  <%= link_to "Show this order state", @order_state %> |
  <%= link_to "Back to order states", order_states_path %>
</div>
