<div id="<%= dom_id product_image %>">
  <p>
    <strong>Product:</strong>
    <%= product_image.product_id %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product_image.image_url %>
  </p>

</div>
