<div id="<%= dom_id product_review %>">
  <p>
    <strong>Product:</strong>
    <%= product_review.product_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= product_review.rating %>
  </p>

  <p>
    <strong>Review text:</strong>
    <%= product_review.review_text %>
  </p>

</div>
