<h1>Editing product review</h1>

<%= render "form", product_review: @product_review %>

<br>

<div>
  <%= link_to "Show this product review", @product_review %> |
  <%= link_to "Back to product reviews", product_reviews_path %>
</div>
